header.Header {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  margin: 0;
  padding: 15px 15px 0 15px;
  text-align: center;
  height: 6vh;
}

.Header > div {
  float: left;
  display: block;
  height: 5vh;
  cursor: pointer;
}

.Header > div > img {
  height: 5vh;
}

.Header > .action-container {
  float: right;
  display: block;
}
