.milestone {
  position: absolute;
}

.milestone.marker {
  height: 50px;
  top: -50px;
  transform: scale(1);
  transition-duration: 0.5s;
}

.milestone.marker:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.milestone.highlight {
  background-color: red;
}

.milestone.opened {
  max-width: 60vw;
  word-wrap: break-word;
}

.marker-container {
  position: relative;
  left: -25px;
}
